# HTTP server port
PORT=3000

# Base URL for external APIs (store-settings, page-data, token)
API_BASE_URL=https://api.example.com/ap/
ASSET_URL=https://s3.us-east-2.amazonaws.com/images.rentmy.co/
PAYMENT_DOMAIN=https://payment.rentmy.co/
AFFILIATE_SDK_URL=

# Main domain – used to strip subdomain from req.hostname
CURRENT_DOMAIN=rrentmy.test



# Cache settings
CACHE=true
CACHE_TIME=300


# Only for local
# ==================================
# Fallback subdomain for local dev
SUBDOMAIN_FOR_DEV=
# testing server for lcoal to return rsk-config object temporary
RSK_CONFIG_SERVER_FOR_DEV=